<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-brand">
      <h2>Ring4Help</h2>
      <p>Your trusted service platform</p>
    </div>

    <div class="footer-links">
      <div class="footer-col">
        <h4>Services</h4>
        <ul>
          <li><a href="/category/digital-service">Digital Service</a></li>
          <li><a href="/category/block-service">Block Service</a></li>
          <li><a href="/category/agriculture-service">Agriculture Service</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Company</h4>
        <ul>
          <li><a href="/about">About Us</a></li>
          <li><a href="/connect">Contact</a></li>
          <li><a href="/terms">Terms & Conditions</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Follow Us</h4>
        <div class="social-icons">
          <a href="https://www.facebook.com/profile.php?id=100065619343314"><i class="fab fa-facebook-f"></i></a>
          <a href="https://x.com/masum_husain_01"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/follower_0f_muhammad_saw_01/?hl=en"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2026 Ring4Help. All rights reserved.</p>
  </div>
</footer>
